@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-theme-color: #b91c1c;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #b91c1c !important;
  }
  
  .swiper-pagination-bullet-active {
    background: #b91c1c !important;
  }

body {
    background-color: #100f12;
    color: #fff;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.075);
    border-radius: 20px;
}

input,
textarea,
select {
    outline: none;
}

li {
    list-style: none;
}